@model MVC4_DavaValidation.Models.AddUrlViewModel

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AddUrlViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.OriginalUrl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OriginalUrl)
            @Html.ValidationMessageFor(model => model.OriginalUrl)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UseCustomSlug)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UseCustomSlug)
            @Html.ValidationMessageFor(model => model.UseCustomSlug)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomSlug)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomSlug)
            @Html.ValidationMessageFor(model => model.CustomSlug)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        jQuery.validator.addMethod('requirediftrue', function (value, element, params) {
            var checkboxId = $(element).attr('data-val-requirediftrue-boolprop');
            var checkboxValue = $('#' + checkboxId).first().is(":checked");
            return !checkboxValue || value;
        }, '');

        jQuery.validator.unobtrusive.adapters.add('requirediftrue', {}, function (options) {
            options.rules['requirediftrue'] = true;
            options.messages['requirediftrue'] = options.message;
        });
    </script>

}
